body{
    width: 100%;
    background: #ffffff;
}
.left {
    height: 100%;
    WIDTH: 60px;
    background: #000;
    display: inline-block;
    float: left;
    text-align: center;
    color: #fff;
    font-family: monospace;
}
.right {
    position: fixed;
    left: 60px;
    right: 0;
}
.left {
    padding: 10px;
}
.left > ul {
    margin-bottom: 20px;
}
p{   font-family: monospace;}
.logo{    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;}
    
canvas {
    display: block;
    right: 0;
    position: absolute;
    left: 0;
    width: 100%;
}
#canvas1.crosshair {cursor: crosshair;}
#canvas1.move {cursor: move;}

