/* Best Design Website 
1. https://crello.com/user/settings/account/
*/
/* Building colors */
/*Mixins*/
/* Global Items */
@import url("https://fonts.googleapis.com/css?family=Lato:400");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
}

body {
  font-family: Lato,sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
}

.theme-white body {
  color: #868e96;
  background-color: #f2f4f9;
}

body.inspect div {
  border: 1px solid green;
}

/* Defing the gap in mobile devices */
.container {
  width: 840px;
  margin: 0 auto;
}

@media (max-width: 840px) {
  .container {
    width: 100%;
    padding: 0 80px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

/*define grid */
.gridBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  /* Layouts : We define 4 layouts */
}

@media (max-width: 640px) {
  .gridBlock {
    display: block;
  }
}

.gridBlock .oneByOne {
  width: 100%;
}

.gridBlock .oneByTwo {
  width: 50%;
}

@media (max-width: 640px) {
  .gridBlock .oneByTwo {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.gridBlock .oneByThree {
  width: 33.33%;
}

@media (max-width: 640px) {
  .gridBlock .oneByThree {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.gridBlock .oneByFour {
  width: 25%;
}

@media (max-width: 640px) {
  .gridBlock .oneByFour {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.gridBlock .twoByThree {
  width: 66.66%;
}

@media (max-width: 640px) {
  .gridBlock .twoByThree {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.gridBlock .oneByTwo,
.gridBlock .oneByThree,
.gridBlock .oneByFour,
.gridBlock .twoByThree {
  margin-right: 30px;
}

.gridBlock .oneByTwo:last-child,
.gridBlock .oneByThree:last-child,
.gridBlock .oneByFour:last-child,
.gridBlock .twoByThree:last-child {
  margin-right: 0px;
}

.gridBlock img {
  width: 100%;
}

/* Input Form */
.inputForm input, .inputForm select, .inputForm textarea {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  border-radius: 0.25rem;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  height: 50px;
  margin-top: 1rem;
  outline: none;
  border: 1px solid transparent;
}

.theme-white .inputForm input, .theme-white .inputForm select, .theme-white .inputForm textarea {
  color: #495057;
  background: #f2f2f2;
}

.theme-white .inputForm input:focus, .theme-white .inputForm select:focus, .theme-white .inputForm textarea:focus {
  border-color: #ffffff;
}

.inputForm input[type="radio"], .inputForm select[type="radio"], .inputForm textarea[type="radio"] {
  width: auto;
  height: auto;
  display: inline;
  margin-left: 2px;
  margin-right: 3px;
}

.inputForm input.success, .inputForm select.success, .inputForm textarea.success {
  border: 1px solid;
}

.theme-white .inputForm input.success, .theme-white .inputForm select.success, .theme-white .inputForm textarea.success {
  border-color: green;
}

.inputForm input.error, .inputForm select.error, .inputForm textarea.error {
  border: 1px solid;
}

.theme-white .inputForm input.error, .theme-white .inputForm select.error, .theme-white .inputForm textarea.error {
  border-color: red;
}

/* Define Button */
.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  text-decoration: none !important;
}

.btn.primary {
  color: #ffffff;
}

.theme-white .btn.primary {
  background-color: #1d82ff;
  border-color: #1d82ff;
}

.btn.primary.shadow {
  -webkit-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
  box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
}

.btna {
  text-decoration: none;
}

.btn.secondary {
  color: #111111;
  background-color: transparent;
}

.theme-white .btn.secondary {
  border-color: #1d82ff;
}

/* Item List */
ul.inlineList {
  width: 100%;
  display: inline-block;
}

ul.inlineList li {
  display: inline-block;
  margin-right: 10px;
}

ul.oneColumn {
  width: 100%;
}

ul.oneColumn li {
  margin-bottom: 45px;
}

ul.twoColumn {
  width: 100%;
  margin-right: 45px;
}

ul.twoColumn li {
  margin-bottom: 45px;
}

/* Key value List */
ul.key_value {
  width: 100%;
}

ul.key_value li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
}

ul.key_value li p:last-child {
  text-align: right;
}

.navBar {
  z-index: 100;
  width: 100%;
  padding: 10px;
}

.navBar.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #fff;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
  color: #111;
}

.navBar.scrolled a {
  color: #111;
}

.navBar.opened {
  margin-top: 0px;
}

@media (max-width: 640px) {
  .navBar .oneByTwo {
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .navBar ul {
    text-align: center;
  }
}

/* Style on Text*/
p {
  display: block;
  width: 100%;
}

.theme-white p {
  color: #868e96;
}

p.heroText {
  font-size: 2.97rem;
  line-height: 1.2;
  width: 800px;
}

@media (max-width: 840px) {
  p.heroText {
    width: 100%;
  }
}

.theme-white p.heroText {
  color: #212529;
}

p.sectionHeading {
  font-size: 2.6rem;
  margin-bottom: 0.5rem;
  line-height: 1.1;
  font-weight: 300;
  font-size: 1.75rem;
}

.theme-white p.sectionHeading {
  color: #212529;
}

p.sectionSubHeading {
  text-transform: uppercase;
}

.theme-white p.sectionSubHeading {
  color: #868e96;
}

p.itemHeading {
  margin-bottom: 0.5rem;
  line-height: 1.1;
  font-weight: 300;
  font-size: 1.25rem;
}

.theme-white p.itemHeading {
  color: #212529;
}

p.paragraph {
  font-size: 15px;
  font-weight: 300;
}

p.price span {
  font-size: 18px;
  text-transform: uppercase;
}

p.price span.value {
  font-size: 50px;
}

.theme-white p.price span.value {
  color: #1d82ff;
}

p.price span.dolor {
  font-size: 20px;
  vertical-align: top;
}

.theme-white p.price span.dolor {
  color: #1d82ff;
}

p span.bold {
  font-weight: bold;
}

p span.italic {
  font-style: italic;
}

p span.batch {
  color: #ffffff;
  padding: 5px 8px;
  font-family: monospace;
  font-size: 12px;
  border-radius: 12px;
}

.theme-white p span.batch.green {
  background: green;
}

.theme-white p span.batch.red {
  background: red;
}

.theme-white p span.batch.blue {
  background: blue;
}

p a {
  text-decoration: underline;
}

/* Define Box - TESTED */
.box {
  padding: 1em;
}

.theme-white .box {
  border: 1px solid #e9ecef !important;
}

.theme-light .box {
  border: 1px solid !important;
}

.theme-dark .box {
  border: 1px solid !important;
}

.theme-white .box.active {
  border-color: #1d82ff !important;
}

.theme-light .box.active {
  border-color: !important;
}

.theme-dark .box.active {
  border-color: !important;
}

.theme-white .box.shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  background: white;
}

.theme-light .box.shadow {
  -webkit-box-shadow: 0 10px 6px -6px;
  box-shadow: 0 10px 6px -6px;
  background: white;
}

.theme-dark .box.shadow {
  -webkit-box-shadow: 0 10px 6px -6px;
  box-shadow: 0 10px 6px -6px;
  background: white;
}

/*Table*/
table, th, td {
  border-collapse: collapse;
}

.theme-white table, .theme-white th, .theme-white td {
  border-top: 1px solid #e2dddd;
}

.theme-light table, .theme-light th, .theme-light td {
  border-top: 1px solid;
}

.theme-dark table, .theme-dark th, .theme-dark td {
  border-top: 1px solid;
}

table td, th td, td td {
  padding: 22px 10px;
}

table td:first-child, th td:first-child, td td:first-child {
  padding-left: 0px;
}

table td:last-child, th td:last-child, td td:last-child {
  padding-right: 0px;
}

/* Componenets*/
a {
  text-decoration: none;
}

.theme-white a {
  color: #868e96;
}

.theme-white a:hover {
  color: #1d82ff;
}

.notification {
  padding: 6px 8px;
  border-radius: 5px;
}

.theme-white .notification p {
  color: #ffffff;
  margin: 0;
}

.theme-light .notification p {
  margin: 0;
}

.theme-dark .notification p {
  margin: 0;
}

.theme-white .notification.success {
  background: green;
}

.theme-white .notification.info {
  background: blue;
}

.theme-white .notification.error {
  background: red;
}

/* Define Gaps */
/* Define Text Align */
.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.alignMiddle {
  vertical-align: middle;
}

/* Custom Margin and padding */
.noMargin {
  margin: 0 !important;
}

.noPadding {
  padding: 0 !important;
}

/* define padding */
.padding_n {
  padding: 0em;
}

.padding_s {
  padding: 0.5em;
}

.padding_m {
  padding: 1em;
}

.padding_l {
  padding: 2em;
}

.padding_xl {
  padding: 3em;
}

.padding_xxl {
  padding: 4em;
}

/* Define gaps */
.gap_n {
  margin-top: 0em;
}

.gap_s {
  margin-top: 1em;
}

.gap_m {
  margin-top: 50px;
}

.gap_l {
  margin-top: 75px;
}

.gap_xl {
  margin-top: 100px;
}

.gap_xxl {
  margin-top: 150px;
}

.hgap_n {
  margin-left: 0em;
}

.hgap_s {
  margin-left: 1em;
}

.hgap_m {
  margin-left: 20px;
}

.hgap_l {
  margin-left: 35px;
}

.hgap_xl {
  margin-left: 50px;
}

.hgap_xxl {
  margin-left: 100px;
}

/* Defining overlapping layer */
.relativePosition {
  position: relative;
}

.absolutePosition {
  position: absolute;
}

/*  we define color scheme  - We need to how this can effect the theme*/
.colorScheme {
  color: #111111;
  background: transparent;
}

.colorScheme a, .colorScheme a:hover {
  color: #AAAAAA;
}

.colorScheme p.sectionSubHeading {
  color: rgba(0, 0, 0, 0.3);
}

.colorScheme .invertColor {
  color: #ffffff;
  background: transparent;
}

.colorScheme .invertColor a, .colorScheme .invertColor a:hover {
  color: #ffffff;
}

.colorScheme .invertColor p {
  color: #ffffff;
}

/* DashBoard Box */
.dbox {
  background: green;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.dbox .title {
  font-weight: bold;
  font-size: 3.5rem;
}

.dbox p {
  margin-top: 0;
}
/*# sourceMappingURL=simplestyle.css.map */