 body{
     background: #000;
     color: rgba(255,255,255,1);
     padding-top:5px; 
 }
.left {
    width: calc( 100% - 420px);
    height: 100%;
    float: left;
}
.left #code
    {
        width: 100%;
        height: 100%;
    }
.right{
    width: 400px;
    height: calc(100% - 10px);
    padding: 0 5px;
    float: right;
    position: relative;
}
#output {
    position: absolute;
    width: calc(100% - 50px);
    padding: 0px 25px;
    white-space: pre-wrap;
    font-size: 14px;
    font-family: monospace;
    height: calc(100% - 0px);
    left: 0;
    color: #8DFF0A;
    top: 0;
    display: none
}
#msg{ position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top:0px;
}
#msg .head{
    color: rgba(255,255,255,0.45);
    text-align: left;
    font-size: 1.2rem;
    font-family: monospace;
    margin: 20px 0 20px 0;
    cursor: pointer;
}
#msg .details {
    font-size: 10px;
    display: none;
    line-height: 1;
    text-align: left;
    color: #8DFF0A;
}
.ace_gutter-cell.red:before{
    content: "*";
    color:red;
    padding-right: 5px;
    margin-left: -15px;
}