@import 'layout';
.header{
    background: #5a5d82;
    color:white;
    padding: 30px 10px;
    width: 100px;
    a {
        padding: 10px;
        color: #ffffff8a;
        &:hover,&:focus{
            color: #ffffff;  
        }
        i {
            font-size: 4rem;
        }  
    }
}
.main_continer > div { display: none; }
