@import 'layout';
.header{
    background: #5a5d82;
    color:white;
    padding: 30px 10px;
    width: 100px;
    a {
        padding: 10px;
        color: #ffffff8a;
        &:hover,&:focus{
            color: #ffffff;  
        }
        i {
            font-size: 4rem;
        }  
    }
}
.main_continer > div { display: none; }
// model
.layout_model{
    background: #ffffff;
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        display:none;
        align-items: center;
        &.blur{
            backdrop-filter: blur(10px);
            background: none;
            > div {
                width: 450px;
                height: auto;
                margin: 0 auto;
                padding: 50px;
                position: relative;
                overflow-y: scroll;
                border: 1px solid #00000010;
                background: white;
                border-radius: 10px;
            }
        }
}


p {
    font-size: inherit;
    &.title{
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
        font-size: 2.5rem;
    }
    &.subtitle{
        color: rgba(0, 0, 0, 0.65);
        font-weight: bold;
    }
    &.help{
        color: rgba(0, 0, 0, 0.45);
        font-size: 1.5rem;
        font-style: italic;
        margin-top: .5rem;
    }
}

