<html>

<head>
    <title>CoderSheet | Beta</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap"
        rel="stylesheet">
</head>

<body class="contaier">
    <div id="app" class="layout_fullscreen layout_horizental">
        <div class="p3 header layout_vertical layout_align_center">
            <div class="layout_vertical layout_align_top">
                <div class="layout_align_center pb10">
                    <img class="round" v-bind:src="user.img" />
                    <p>{{user.name}}</p>
                </div>
                <a class="layout_vertical" @click="cur_page='home'"> Home</a>
                <a class="layout_vertical" @click="cur_page='pads'"> Pads</a>
                <a class="layout_vertical" @click="cur_page='login'"> Login</a>
            </div>
            <div class="layout_vertical layout_align_bottom">
                <a class="layout_vertical" @click="cur_page='profile'">Profile</a>
            </div>
        </div>
        <div class="main_continer layout_fill layout_vertical p10">
            <!-- LOGIN -->
            <div class="home layout_fullscreen" v-bind:class="{ show: cur_page == 'home' }">
                <div class="layout_vertical _lfs">
                    <h1>Home</h1>
                    <hr>
                    
                </div>
            </div>
            <!-- LOGIN -->

            <!-- PAD-->
            <div class="pads layout_fullscreen" v-bind:class="{ show: cur_page == 'pads' }">
                <div class="layout_vertical _lfs">
                    <h1>Pads</h1>
                    <hr>
                    <div class="_lh layout_align_left_right">
                        <input placeholder="Serach title and Author">
                        <select>
                            <option>All Pads</option>
                            <option>Unused pads</option>
                            <option>Inprogress pads</option>
                            <option>Ended pads</option>
                        </select>
                        <select>
                            <option>Created Anytime</option>
                            <option>Today</option>
                            <option>Yestarday</option>
                            <option>Last Week</option>
                            <option>Last Months</option>
                        </select>
                    </div>
                    <div class="layout_table mt10 mb10">
                        <div class="th">
                            <div>Title</div>
                            <div>Status</div>
                            <div>Creator</div>
                            <div>Created</div>
                            <div>Language</div>
                            <div>Actions</div>
                        </div>
                        <div v-for ="item in codersheet_pads" :key="item.id">
                            <div>{{item.title}}</div>
                            <div>{{item.status}}</div>
                            <div>{{item.creator}}</div>
                            <div>{{item.ts_insert}}</div>
                            <div>{{item.language}}</div>
                            <div class="_lh">
                                <bottom class="btn tiny m4">Open</bottom>
                                <bottom class="btn tiny  m4">Download</bottom>
                                <bottom class="btn tiny m4">Delete</bottom>
                            </div>
                        </div>
                        <div class="footer">
                            <div> Shwoing 1-5 of 10 records</div>
                            <div>
                                <a class="btn tiny m4">previous</a>
                                <a class="btn tiny m4">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SETTINGS-->
            <div class="profile" v-bind:class="{ show: cur_page == 'profile' }">
                <div class="layout_vertical _lfs">
                    <h1 class="layout_align_center">Settings</h1>
                    <hr>
                    <div class="layout_align_center p15">
                        <img class="round" v-bind:src="user.img" />
                        <p>{{user.name}}</p>
                    </div>
                    <p>Update your name</p>
                    <input placeholder="Enter the new name">
                    <p>Update your Email</p>
                    <input placeholder="enter your mail">
                    <button>Save</button>
                    <hr>
                    <button @click="logout">Logout</button>
                    <button @click="logout_all">Logout all </button>
                </div>
            </div>
        </div>
        <!-- Model-->
        <div class="layout_model" v-bind:class="{ show: cur_page == 'loading' }">
           <div class="_lv _lfs _lac">
                <p class="animate__animated animate__bounce"><i class="fa fa-code"></i></p>
                <p> Loading...</p>
           </div> 
        </div>
        <div class="layout_model" v-bind:class="{ show: cur_page == 'login' }">
            <div class="_lv _lfs _lac">
                <h1>Login</h1>
                <hr>
                <h3>We only support only login email.</h3>
                <p v-if="auth_resp" :class="[auth_resp.status]">{{auth_resp.msg}}</p>
                <input v-model="user.email" placeholder="please enter your email">
                <button @click="tryMailLogin">Submit</button>
            </div>
         </div>
        <!-- Notification-->
        <p class="notification" :class="[simplestore_resp.status]">{{simplestore_resp.msg}}</p>
    </div>
</body>

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />
<link rel="stylesheet" type="text/css" href="dashboard.css">

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="dashboard.js"></script>

<!-- reference your copy Font Awesome here (from our CDN or by hosting yourself) -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</html>