@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;400;700;900&display=swap");
html {
  height: 100%;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  min-height: 100%;
  position: relative;
  font-size: 1.5rem;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
}

* {
  font-family: 'Noto Sans HK', sans-serif;
}

.m1 {
  margin: 1px;
}

.p1 {
  padding: 1px;
}

.pt1 {
  padding-top: 1px;
}

.pl1 {
  padding-left: 1px;
}

.pr1 {
  padding-right: 1px;
}

.pb1 {
  padding-bottom: 1px;
}

.m2 {
  margin: 2px;
}

.p2 {
  padding: 2px;
}

.pt2 {
  padding-top: 2px;
}

.pl2 {
  padding-left: 2px;
}

.pr2 {
  padding-right: 2px;
}

.pb2 {
  padding-bottom: 2px;
}

.m3 {
  margin: 3px;
}

.p3 {
  padding: 3px;
}

.pt3 {
  padding-top: 3px;
}

.pl3 {
  padding-left: 3px;
}

.pr3 {
  padding-right: 3px;
}

.pb3 {
  padding-bottom: 3px;
}

.m4 {
  margin: 4px;
}

.p4 {
  padding: 4px;
}

.pt4 {
  padding-top: 4px;
}

.pl4 {
  padding-left: 4px;
}

.pr4 {
  padding-right: 4px;
}

.pb4 {
  padding-bottom: 4px;
}

.m5 {
  margin: 5px;
}

.p5 {
  padding: 5px;
}

.pt5 {
  padding-top: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.m6 {
  margin: 6px;
}

.p6 {
  padding: 6px;
}

.pt6 {
  padding-top: 6px;
}

.pl6 {
  padding-left: 6px;
}

.pr6 {
  padding-right: 6px;
}

.pb6 {
  padding-bottom: 6px;
}

.m7 {
  margin: 7px;
}

.p7 {
  padding: 7px;
}

.pt7 {
  padding-top: 7px;
}

.pl7 {
  padding-left: 7px;
}

.pr7 {
  padding-right: 7px;
}

.pb7 {
  padding-bottom: 7px;
}

.m8 {
  margin: 8px;
}

.p8 {
  padding: 8px;
}

.pt8 {
  padding-top: 8px;
}

.pl8 {
  padding-left: 8px;
}

.pr8 {
  padding-right: 8px;
}

.pb8 {
  padding-bottom: 8px;
}

.m9 {
  margin: 9px;
}

.p9 {
  padding: 9px;
}

.pt9 {
  padding-top: 9px;
}

.pl9 {
  padding-left: 9px;
}

.pr9 {
  padding-right: 9px;
}

.pb9 {
  padding-bottom: 9px;
}

.m10 {
  margin: 10px;
}

.p10 {
  padding: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.m11 {
  margin: 11px;
}

.p11 {
  padding: 11px;
}

.pt11 {
  padding-top: 11px;
}

.pl11 {
  padding-left: 11px;
}

.pr11 {
  padding-right: 11px;
}

.pb11 {
  padding-bottom: 11px;
}

.m12 {
  margin: 12px;
}

.p12 {
  padding: 12px;
}

.pt12 {
  padding-top: 12px;
}

.pl12 {
  padding-left: 12px;
}

.pr12 {
  padding-right: 12px;
}

.pb12 {
  padding-bottom: 12px;
}

.m13 {
  margin: 13px;
}

.p13 {
  padding: 13px;
}

.pt13 {
  padding-top: 13px;
}

.pl13 {
  padding-left: 13px;
}

.pr13 {
  padding-right: 13px;
}

.pb13 {
  padding-bottom: 13px;
}

.m14 {
  margin: 14px;
}

.p14 {
  padding: 14px;
}

.pt14 {
  padding-top: 14px;
}

.pl14 {
  padding-left: 14px;
}

.pr14 {
  padding-right: 14px;
}

.pb14 {
  padding-bottom: 14px;
}

.m15 {
  margin: 15px;
}

.p15 {
  padding: 15px;
}

.pt15 {
  padding-top: 15px;
}

.pl15 {
  padding-left: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.m16 {
  margin: 16px;
}

.p16 {
  padding: 16px;
}

.pt16 {
  padding-top: 16px;
}

.pl16 {
  padding-left: 16px;
}

.pr16 {
  padding-right: 16px;
}

.pb16 {
  padding-bottom: 16px;
}

.m17 {
  margin: 17px;
}

.p17 {
  padding: 17px;
}

.pt17 {
  padding-top: 17px;
}

.pl17 {
  padding-left: 17px;
}

.pr17 {
  padding-right: 17px;
}

.pb17 {
  padding-bottom: 17px;
}

.m18 {
  margin: 18px;
}

.p18 {
  padding: 18px;
}

.pt18 {
  padding-top: 18px;
}

.pl18 {
  padding-left: 18px;
}

.pr18 {
  padding-right: 18px;
}

.pb18 {
  padding-bottom: 18px;
}

.m19 {
  margin: 19px;
}

.p19 {
  padding: 19px;
}

.pt19 {
  padding-top: 19px;
}

.pl19 {
  padding-left: 19px;
}

.pr19 {
  padding-right: 19px;
}

.pb19 {
  padding-bottom: 19px;
}

.m20 {
  margin: 20px;
}

.p20 {
  padding: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.m21 {
  margin: 21px;
}

.p21 {
  padding: 21px;
}

.pt21 {
  padding-top: 21px;
}

.pl21 {
  padding-left: 21px;
}

.pr21 {
  padding-right: 21px;
}

.pb21 {
  padding-bottom: 21px;
}

.m22 {
  margin: 22px;
}

.p22 {
  padding: 22px;
}

.pt22 {
  padding-top: 22px;
}

.pl22 {
  padding-left: 22px;
}

.pr22 {
  padding-right: 22px;
}

.pb22 {
  padding-bottom: 22px;
}

.m23 {
  margin: 23px;
}

.p23 {
  padding: 23px;
}

.pt23 {
  padding-top: 23px;
}

.pl23 {
  padding-left: 23px;
}

.pr23 {
  padding-right: 23px;
}

.pb23 {
  padding-bottom: 23px;
}

.m24 {
  margin: 24px;
}

.p24 {
  padding: 24px;
}

.pt24 {
  padding-top: 24px;
}

.pl24 {
  padding-left: 24px;
}

.pr24 {
  padding-right: 24px;
}

.pb24 {
  padding-bottom: 24px;
}

.m25 {
  margin: 25px;
}

.p25 {
  padding: 25px;
}

.pt25 {
  padding-top: 25px;
}

.pl25 {
  padding-left: 25px;
}

.pr25 {
  padding-right: 25px;
}

.pb25 {
  padding-bottom: 25px;
}

.m26 {
  margin: 26px;
}

.p26 {
  padding: 26px;
}

.pt26 {
  padding-top: 26px;
}

.pl26 {
  padding-left: 26px;
}

.pr26 {
  padding-right: 26px;
}

.pb26 {
  padding-bottom: 26px;
}

.m27 {
  margin: 27px;
}

.p27 {
  padding: 27px;
}

.pt27 {
  padding-top: 27px;
}

.pl27 {
  padding-left: 27px;
}

.pr27 {
  padding-right: 27px;
}

.pb27 {
  padding-bottom: 27px;
}

.m28 {
  margin: 28px;
}

.p28 {
  padding: 28px;
}

.pt28 {
  padding-top: 28px;
}

.pl28 {
  padding-left: 28px;
}

.pr28 {
  padding-right: 28px;
}

.pb28 {
  padding-bottom: 28px;
}

.m29 {
  margin: 29px;
}

.p29 {
  padding: 29px;
}

.pt29 {
  padding-top: 29px;
}

.pl29 {
  padding-left: 29px;
}

.pr29 {
  padding-right: 29px;
}

.pb29 {
  padding-bottom: 29px;
}

.m30 {
  margin: 30px;
}

.p30 {
  padding: 30px;
}

.pt30 {
  padding-top: 30px;
}

.pl30 {
  padding-left: 30px;
}

.pr30 {
  padding-right: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

/* Define Layouts */
.layout_fullscreen {
  width: 100%;
  height: 100%;
}

.layout_frame {
  position: relative;
}

.layout_horizental, .layout_vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.layout_horizental.layout_horizental, .layout_vertical.layout_horizental {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout_horizental.layout_vertical, .layout_vertical.layout_vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout_horizental .layout_fill, .layout_vertical .layout_fill {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.layout_horizental .layout_wrap, .layout_vertical .layout_wrap {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.layout_horizental .layout_equal *, .layout_vertical .layout_equal * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.layout_horizental.layout_align_center, .layout_vertical.layout_align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.layout_horizental .layout_align_center, .layout_vertical .layout_align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.layout_horizental .layout_align_center_space_fill, .layout_vertical .layout_align_center_space_fill {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.layout_horizental .layout_align_left, .layout_vertical .layout_align_left {
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}

.layout_horizental .layout_align_right, .layout_vertical .layout_align_right {
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right;
}

.layout_horizental .layout_align_bottom, .layout_vertical .layout_align_bottom {
  -webkit-box-align: bottom;
  -ms-flex-align: bottom;
  align-items: bottom;
}

.layout_horizental .layout_align_left_right, .layout_vertical .layout_align_left_right {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/*# sourceMappingURL=index.css.map */