html {
    height: 100%;
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    background: #fff;
    min-height: 100%;
    position: relative;
    font-size: 1.5rem;
}




// extended style 
hr {
    width: 100%;
    height: auto;
    margin: 1rem 0;
}
.round{
    border: 2px solid black;
    border-radius: 50%;
}

// Global text Styleing
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;400;700;900&display=swap');
*{ 
    font-family: 'Noto Sans HK', sans-serif;
}
a {
    color: black;
    cursor: pointer;
    text-decoration: none;
};
h1,h2,h3,h4,h5,p{
    color: #2d353c;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    margin-top: 1.2rem;
    &.success{
        color: green;
    }
    &.error {
        color: red;
    }
}
h1 {
    font-weight: bold;
    font-size: 3rem
}

h2 {
    font-size: 2.5rem
}

h3 {
    font-size: 2rem
}

h4 {
    font-size: 1.5rem
}



// inputs and form 
input, select, textarea, button{
    border: 1px solid black;
    height: 50px;
    margin: 0;
    margin-top: 1.2rem;
    padding: 1rem;
    outline: none;
    border-radius: 6px;
}
input[type="checkbox"]{
    height: auto;
}
button {
    background-color: black;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2.5rem;
}
//////  Styleish Button and Naviations
.btn{
    &.tiny{
    background: #00000040;
    border: 1px solid #00000040;
    border-radius: 10px;
    padding: 0px 7px;
    text-transform: lowercase;
    margin: 2px;
    }
}

// generate Margin and Padding
@for $i from 1 through 30 {
    .m#{$i} {
        margin: 1px * $i;
    }
    .p#{$i} {
        padding: 1px * $i;
    }
    .pt#{$i} {
        padding-top: 1px * $i;
    }
    .pl#{$i} {
        padding-left: 1px * $i;
    }
    .pr#{$i} {
        padding-right: 1px * $i;
    }
    .pb#{$i} {
        padding-bottom: 1px * $i;
    }
    .mt#{$i} {
        margin-top: 1px * $i;
    }
    .ml#{$i} {
        margin-left: 1px * $i;
    }
    .mr#{$i} {
        margin-right: 1px * $i;
    }
    .mb#{$i} {
        margin-bottom: 1px * $i;
    }
}
  

/* Define Layouts */
/* Define Layouts */
.layout_fullscreen,._lfs{
    width: 100%;
    height: 100%;
}
.layout_frame ,._lf{
    position: relative;
}
.layout_horizental, .layout_vertical,._lh,._lv{
    display: flex;
    position: relative;
    &.layout_horizental,._lh {
        flex-direction: row;
        display: flex;
    }
    &.layout_vertical,._lv {
        flex-direction: column;
        display: flex;
    }
    .layout_fill,._lfi{
        flex: 1;
        display: flex;
    }
    .layout_wrap,._lw {
        flex:auto;
        display: flex;
    }
    .layout_equal ,._le{
        * {
            flex: 1;
        }
    }
}
.layout_align_center,._lac{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout_align_left,._lal{
    align-items: left;
    display: flex;
}
.layout_align_right,._lar{
    align-items: right;
    display: flex;
}
.layout_align_bottom,._lab{
    align-items: bottom;
    display: flex;
}
.layout_align_left_right,._lalr{
    justify-content: space-between;
    display: flex;
}
// Definein table
.layout_table {
    display: flex;
    border-collapse: collapse;
    flex-direction: column;
    &> div{
        display: flex;
        flex-direction: row;
        border-collapse: collapse;
        border: 1px solid #00000010;
        &.th{
            background-color: #00000011;
        }
        &> div {
            flex:1;
            padding: 1em;
            border-collapse: collapse;
        }
    }
}

  // some componenet 
.notification{
    position: fixed;
    top: 5px;
    min-width: 400px;
    background: #ff180050;
    border-radius: 20px;
    left: calc(50% - 200px);
    text-align: center;
    padding: 6px;
    transition: all .2s ease 0s;
}
  
// Hise and show must be non-impornt and then show should override hide as you 
// should hide as much as possible
.hide {
    display: none !important;
}
.show {
    display: flex !important;
}
